# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtualenv
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Data & výstupy
# Ignoruj obsah složky data/
data/**
*.json
*.pkl
*.npz
*.log
# ALE: nech strukturu složek včetně .gitkeep souborů
!data/
!data/import/
!data/import/**/
!data/import/**/.gitkeep

# Modely
*.pt
*.bin

# Sentence Transformers cache
~/.cache/torch/
~/.cache/huggingface/
